:root{
	--PrimaryPink: #FFD8D8;
	--PrimaryPinkOp: rgba(255, 216, 216, 0.685);
	--SecondaryPink: #B84D4D;
	--SecondPinkOp: rgba(184, 77, 77, 0.5);
    --PrimaryGray: #636262;
    --Light: white;
}

body {
	background: #333;
	font-family: ubuntu, helvetica;
	color: white;
}
main {
	margin: 2% 10%;
}

h2 {
	color: #FFD8D8;
	text-align: right;
}

h1 {
	color: #FFD8D8;
	padding:.75rem;
	margin: 0;
	font-size: 2rem;
	text-align: right;
}

p{
	line-height: 1.5;
}
/**********
404
***********/
.notFound section{
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	margin: 3rem auto;
}

/**********
Nav Bar
***********/
.nav-img{
	padding: 1rem 0 .5rem .5rem;
}
nav div{
	display: flex;
	align-items: center;
	flex-direction: row;
}
nav img{
	border-radius: 50%;
	width: 2.8rem;
}
nav {
	background: #636262;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 1rem;
}
a {
	color: #FFD8D8;
	text-decoration: none;
	padding: 1rem;
	margin: 0 .25rem;
	font-size: 1.25rem;

}
.logo{
	padding: .25rem;
}
.nav a:link{
	border-bottom: 0.25rem solid #FFD8D8;
}

.nav a:focus{
	border-bottom: 0.25rem solid #B84D4D;
}

.nav a:hover{
	border-bottom: 0.25rem solid #B84D4D;
}

.nav a:active{
	background: #B84D4D;
}


/**********
Sub nav
***********/
.sub{
	background: transparent;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}

.sub a:link{
	border-bottom: 0.25rem solid #FFD8D8;
}

.sub a:focus {
	border-bottom: 0.25rem solid #B84D4D;
}

.sub a:hover {
	border-bottom: 0.25rem solid #B84D4D;
}

.sub a:active {
	background: #B84D4D;
}

/**********
button to the top
***********/
.button{
	display: flex;
	justify-content: center;
	align-content: center;
	background: #B84D4D;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 1.75rem;
	right: 1.75rem;
}

.button h1{
	color: #FFD8D8
}

.button:hover, 
.button:focus, 
.button:active{
	background: #FFD8D8;
	cursor: pointer;
} 

.button:hover h1, 
.button:focus h1, 
.button:active h1{
	color: #b84d4d;
}
/**********
For Bio
***********/
/* controls both the bio img and contact img */
.bio-img{ 
	padding: .75rem;
}

.title{
	display: flex;
	justify-items: flex-end;
}

article img{
	width: 100%;
	border-radius: 50%;
	
}

article{
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	margin: 3rem auto;
	max-width: 1100px;
}

article p{
	margin: 0 1rem;
	padding: .75rem;
	border-left: solid .25rem #B84D4D;
}

/**********
For Contact
***********/
.contact{
  display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	margin: 3rem auto;
	max-width: 1100px;
}

.contact img{
	width: 100%;
	border-radius: 2.5rem;
}

form{
    margin: 0 1rem;
    padding: .75rem;
    border-left: solid .25rem var(--SecondaryPink);
    width: 90%;
    max-width: 800px;
}

form label{
    color: var(--PrimaryPink);
}
form input, 
form textarea {
  display: block;
  background: var(--PrimaryGray);
  color: var(--Light);
  border: none;
  border-radius: 4px;
  width: 100%;
  resize: none;
  padding: .25rem;
}
form label,
form input{
	max-width: 270px;
}

form textarea{
    height: 10rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5%;
  background: #FFD8D8;
  color: #7B1919;
  margin: 0 0 5px;
  padding: .5rem;
  font-size: 1rem;
}

/* focus, hover, and active on contact form */

textarea:focus, input[type="email"]:focus, input[type="text"]:focus{
  border-bottom: solid .25rem #FFD8D8;
  outline: 0;
} 

textarea:hover, input[type="email"]:hover, input[type="text"]:hover{
  border-bottom: solid .25rem #FFD8D8;
} 

textarea:active, input[type="email"]:active, input[type="text"]:active{
  border-bottom: solid .25rem #FFD8D8;
} 

button[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:active
{
	background: #B84D4D;
	color: #FFD8D8;
}

::placeholder{
  color: #E0E0E0;
}


/**********
Thumbnails
***********/
section{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
#gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-left: solid #B84D4D .25rem;
	margin-left: 2rem
}

section a{
	background:var(--PrimaryPink);
	padding: .5rem;
	margin: .75rem;
	border-radius: 5%;
}

/* Lightbox Styling */
.lg-img-wrap { 
	background-color: var(--SecondaryPink);
  }
.lg-toolbar.group, #lg-counter .lg-toolbar .lg-icon, .lg .lg-actions .lg-next, .lg .lg-actions .lg-prev{
	background-color: var(--PrimaryPinkOp);
	color: var(--PrimaryGray);
}

/* layout of items of each individual portfolio item */

section img{
	max-width: 200px;
	padding: 0;
}

h3 {
	color: #b84d4d;
	margin: .5rem;
}

figcaption {
	padding: 0.25rem 0;
	color: #b84d4d;
}


/**********
Media Queries
***********/


/* main nav for large screen sizes */
@media screen and (min-width: 1200px){
	nav{
		padding: 0 10%;
	}
}


/* help fit overlay on smaller screens */
@media screen and (max-width: 870px){
	.overlay a img {
	width: 80vw;
	height: auto;
}
}

/* Media query to switch from grid to block. Content changes from horizontal layout to verticle*/

@media screen and (max-width: 800px){

	#poetry, #photo, #doodles, #stickers, #poster{
		display: block;
		margin: 10% auto;
	}
	article, .contact{
		display: flex;
		flex-direction: column;
	}
	.port-items{
		margin-left: 0;
	}
	.background-content h1, .bio h1{
		text-align: left;
		margin: 0 1rem;
	}
	
	.bio-img img{
		max-width: 200px;
	}
	.bio-img{
		order: -1;
	}
}


@media screen and (max-width: 750px){
	.port-items{
		justify-content: flex-start;
	}
}


/* sub nav bar for smaller screens */
@media screen and (max-width: 500px){
	.sub{
		display: block;
		line-height: 3;
	}
}

/* main nav bar for smaller screens */
@media screen and (max-width: 400px) {
	nav {
		display:block;
		padding-bottom:0;
	}
	nav a{
		line-height: 2.5rem;
		padding: .75rem;
	}
}


/* media query for left boarder on portfolio page */
@media screen and (max-width: 335px){
	.port-items{
		border: none;
	}
}
